*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    background: linear-gradient(90deg, #00ba13  90%, #009810);    
    min-height: 100vh;
}

.cards{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(30,1fr);
    gap: 1rem;
    padding: 1rem;
}

.card{
    list-style: none;
    background: #d5e9d6;
    box-shadow: rgba(0, 0, 0, 0.25) 0rem 5rem 5rem 2rem;
    border-radius: 2rem;
}

.card--first{
    grid-column: 12 / 19;
    grid-row: 2 / 5;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--first > img{
    height: 6rem;
    width: 6rem;
    margin-right: 1.2rem;
}


.img-logo{
    width: 20%;
    height: 90%;
}

.card--second{
    grid-column: 2 / 8;
    grid-row: 6 / 11;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card--datumTijd{
   color: black;
}

.card--third{
    grid-column: 9 / 15;
    grid-row: 6 / 11;
}

.card--fourth{
    grid-column: 16 / 30;
    grid-row: 6 / 18;
}

.sliders{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.card--fifth{
    grid-column: 2 / 8;
    grid-row: 13 / 18;
}

.card--sixth{
    grid-column: 9 / 15;
    grid-row: 13 / 18;
    display: flex;
    justify-content: center;
}

.card--sixth > div{
    clip-path: inset(0 0 65px 0);
    transform: translateY(3rem);
}

.card--seventh{
    grid-column: 2 / 8;
    grid-row: 19 / 29;
}

.card--eight{
    grid-column: 9 / 15;
    grid-row: 19 / 29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--eight{
    width: 100%;
    height: 100%;
}

.card--ninth{
    grid-column: 16 / 23;
    grid-row: 19 / 29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--tenth{
    padding-top: 1.5rem;
    grid-column: 23 / 30;
    grid-row: 19 / 29;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card--tenth > h2{
    width: 100%;
    padding-left: 12rem;
    padding-bottom: 2.5rem;
}


/* Weather */

.weather--info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
}


/*css art*/

.klokje{
    transform: scale(75%);
}

.klokje--cirkel{
    width: 8rem;
    height: 8rem;
    border: 0.3rem solid black;
    background: #eeeeee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.klokje--cirkel__wijzer{
    background: black;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    width: 0.3rem;

}

.klokje--cirkel__wijzer1{
    height: 3.2rem;
    width: 0.2rem;
    transform: translateY(-50%)
}

.klokje--cirkel__wijzer2{
    position: absolute;
    top: 3.299rem;
    left: 4.3rem;
    height: 2.2rem;
    transform: rotate(135deg);
}


.containkleur{
    height: 67%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.groen{
    background: #00BA13;
    width: 5.5rem;
    height: 2rem;
    border: black solid 0.2rem;
}

.blauw{
    background: #36A2EB;
    width: 5.5rem;
    height: 2rem;
    border: black solid 0.2rem;
}

.wit{
    background: #EAF4EB;
    width: 5.5rem;
    height: 2rem;
    border: black solid 0.2rem;
}

.roze{
    background: #FF6384;
    width: 5.5rem;
    height: 2rem;
    border: black solid 0.2rem;
}